<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net452" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net452" />
  <package id="Xceed.Products.Wpf.Toolkit.AvalonDock" version="3.5.17430.11120" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock" version="3.5.17430.11120" targetFramework="net452" />
</packages>