<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kuriimu2.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
        <loadFromRemoteSources enabled="true"/>
    </runtime>
    <userSettings>
        <Kuriimu2.WinForms.Properties.Settings>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GridColor1" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="GridColor2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ImageBorderStyle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ImageBorderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ThumbnailHeight" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="ThumbnailWidth" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="SequenceSearchDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchInputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchOutputDirectory" serializeAs="String">
                <value />
            </setting>
        </Kuriimu2.WinForms.Properties.Settings>
    </userSettings>
</configuration>
